<head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
  </head>
  <body style="background-color:#bbecf0;">
      <main>
        <div class="invisible">...</div>
        <div class="album py-5">
          <div class="container">   
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="../../../assets/img/minivan.jpg"  class="bd-placeholder-img card-img-top" alt="playa" width="100%" height="225" loading="lazy"> 
                  <div class="card-body">
                    <h4 class="fw-light"><b>Minivan comoda y full equipada. Hasta 8 pasajeros</b></h4>
                    <p class="card-text">Precio por Pasajero: $5.000 <span class="text-muted"> Incluye equipaje</span>
                      <div class="contenedor">
                        <form name="formulario" method="post" action="/send.php">Pasajeros
                          <input type="number" name="numero" value="0" min="1" max="8" step="1" />
                        </form>
                         <h6 class="my-0">Total Transporte: <span class="text-muted">$40.000</span></h6>
                        <br>
                      </div>
                      <div class="col-md-5">
                        
                        <div class="invalid-feedback">
                      
                        </div>
                      </div>
                    <div class="d-flex justify-content-between align-items-center" button class="w-15 btn btn-primary center" type="button" routerLink="/reserva">Agregar servicio</div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="../../../assets/img/bus.jpg"  class="bd-placeholder-img card-img-top" alt="playa" width="100%" height="225" loading="lazy"> 
                  <div class="card-body">
                    
                    <h4 class="fw-light"><b>Bus con aire acondicionado y wifi</b></h4>
                    <br>
                    <p class="card-text">Valor pasaje: $2.000</p>
                    <div class="contenedor">
                      <form name="formulario" method="post" action="/send.php">Pasajeros
                        <input type="number" name="numero" value="0" min="1" max="8" step="1" />
                      </form>
                       <h6 class="my-0">Total Transporte: <span class="text-muted">$8.000</span></h6>
                      <br>
                    </div>
                    <div class="d-flex justify-content-between align-items-center" button class="w-15 btn btn-primary center" type="button" routerLink="/reserva">Agregar servicio</div>

                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="../../../assets/img/uber.jpg" class="bd-placeholder-img card-img-top" alt="playa" width="100%" height="225" loading="lazy"> 
                  <div class="card-body">
                    <h4 class="fw-light"><b>Convenio Uber</b></h4>
                    <p class="card-text">Te financiamos el 40% del valor. Obten tu codigo Promocional</p>
                    <div class="d-flex justify-content-between align-items-center" button class="w-15 btn btn-primary center" type="button">Obtener Codigo</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

        </div>
        <div class="invisible">...</div>
      </main>     
  </body>