<head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
</head>
<body style="background-color:#bbecf0;">   
  <main>    
      <div class="row">
        <div class="col-sm-6">
          <div class="invisible">...</div>
          <div class="card">
            <h5 class="card-body">Hermoso departamento en sector de reñaca 90mts2.  3 dormitorios y 3 baños. </h5>
            <img class="card-img-bottom" src="../../../assets/img/depa1.jpg" alt="Card image cap">
            <div class="card-footer">
              <h5 class="card-body">Precio por noche 80.000 </h5>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-sm btn-outline-secondary">Ant.</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Sig.</button>
            </div>
          </div> 
          <div class="invisible">...</div> 
          <div class="invisible">...</div>
        </div>
        <div class="col-sm-6">
          <div class="invisible">...</div>
          <div>
            <div class="invisible">...</div> 
            <img class="rounded mx-auto d-block" src="../../../assets/img/calendario.png" width="500">
          </div> 
          <p></p>
          <button class="w-20 btn btn-primary btn-lg" routerLink="/r
          eserva" type="submit">Reservar</button>
          <div class="invisible">...</div> 
          <div class="invisible">...</div>
        </div> 
      </div>           
  </main>  
</body>