<section class="controller-aboutus" style="background-color:lightblue ;">
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title titulo" >
        <strong><h2>Nosotros</h2></strong>
      </div>
      <div class="container-text">
        <div class="row content-text prueba" >
          <p>
            Turismo real fue fundada con la iniciativa de revolucionar el mundo de arriendos.
            Nos dedicamos a ofrecer los mejores departamentos dentro de Chile y que vivas las vacaciones de tus sueños.
            Entregando los mejores servicios a nuestros clientes y un trato personalizado, confidencial y profesional.
            Todo en torno a la plataforma inmobiliaria más moderna del mercado, ofreciendo un servicio integral.
          </p>
          <p>
            Vision: Ser líderes en el mundo de arriendos inmobiliarios, ofreciendo seguridad, transparencia y una oferta integral a nuestros clientes con un servicio de excelencia.
          </p>
          <p>
            Mision: Acelerar las gestiones para unas vacaciones inolvidables mediante una economía colaborativa. Facilitando el tiempo y la autonomia de las personas ademas de proporcionar un servicio integral a todos nuestros clientes. 
          </p>
        </div>
        <div class="flap"></div>
      </div>
      <ul class="cards">
        <li>
          <a class="card">
            <img src="assets\img\fotos de los k\alexander.PNG" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <img class="card__thumb" src="assets\img\tr.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Alexander Hernández</h3>            
                  <span class="card__status">Desarrollador web</span>
                </div>
              </div>
              <p class="card__description">Encargado del back-end del sitio validando y creando las funcionalidades</p>
            </div>
          </a>      
        </li>
        <li>
          <a class="card">
            <img src="assets\img\fotos de los k\doro.PNG" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <img class="card__thumb" src="assets\img\tr.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Cristobal Burgos</h3>            
                  <span class="card__status">Ingeniero informático</span>
                </div>
              </div>
              <p class="card__description">Encargado de los procesos de desarrollo en la página “Turismo Real”, además CEO del grupo “SOCIAL DEVELOPMENT GROUP</p>
            </div>
          </a>      
        </li><li>
          <a class="card">
            <img src="assets\img\fotos de los k\ara.PNG" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <img class="card__thumb" src="assets\img\tr.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Arayeska Herrera</h3>            
                  <span class="card__status">Analista QA</span>
                </div>
              </div>
              <p class="card__description">LIDER QA enfocada en conocer los límites y velar por la calidad del producto final entregado, encargada de obtener las pruebas y documentación necesaria para validar cada flujo sostenible de los usuarios que ingresen a la plataforma.</p>
            </div>
          </a>      
        </li>
        <li>
          <a class="card">
            <img src="assets\img\fotos de los k\Captura.PNG" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <img class="card__thumb" src="assets\img\tr.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Juan Pablo Hurra</h3>            
                  <span class="card__status">Ingeniero informático</span>
                </div>
              </div>
              <p class="card__description">Ingeniero informático encargado de la mantenibilidad del sitio web, preocupado del soporte, mantención y sostenibilidad de los servicios que están inmersos en este proyecto.</p>
            </div>
          </a>      
        </li>
        <li>
          <a class="card">
            <img src="assets\img\fotos de los k\marco.PNG" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <img class="card__thumb" src="assets\img\tr.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Marco Brante</h3>            
                  <span class="card__status">Analista QA</span>
                </div>
              </div>
              <p class="card__description">Automatizador QA, el cual cumple el objetivo de hacer pruebas no asistidas que cumplan con las reglas del negocio planteado en un inicio por el cliente, validando cada funcionalidad que se presente a nivel de front y/o back.</p>
            </div>
          </a>      
        </li>
      </ul>
    </div>
  </section>
  <div>
    
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Direccion:</h4>
                <p>Cerro Catedral Nte. 12150 Las Condes Región Metropolitana</p>
              </div>
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>turismoReal@turismoReal.com</p>
              </div>
              <div class="phone">
                <i class="fa-solid fa-phone"></i>
                <h4>Número de teléfono:</h4>
                <p>+56 9 4234 2345</p>
              </div>
            </div>
          </div>
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3331.196217077849!2d-70.51361677409837!3d-33.39204471934958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cc118c8f9f27%3A0x5e72562874728791!2sCerro%20Catedral%20Nte.%2012150%2C%20Las%20Condes%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1669672496588!5m2!1ses!2scl" width="600" height="450" style="border:0; width: 100%; height: 290px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
