<head>
  <style>
      h1 {text-align: center;}
      p {text-align: center;}
      div {text-align: center;}
  </style>
</head>
<body style="background-color:#bbecf0;">
    <main>
      <div class="invisible">...</div>
      <div class="invisible">...</div>
      <div class="invisible">...</div>
      <header class=col-lg-6>
        <h1 class="text-center fw-bold lh-1 mb-3">Nuestros servicios</h1>
      </header>
      <header class=col-8>
        <h5 class="text-center ">Solicitables al momento de reserva o durante la estadía.</h5>
      </header>
      <div class="album py-5">
        <div class="container">   
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="../../../assets/img/transporte.png" class="bd-placeholder-img card-img-top" alt="playa" width="100%" height="225" loading="lazy"> 
                <div class="card-body">
                  <h1 class="fw-light"><b>Transporte</b></h1>
                  <p class="card-text">Traslado desde el aeropuerto a departmento y viceversa.</p>
                  <div class="d-flex justify-content-between align-items-center" button class="w-15 btn btn-primary center" type="button" routerLink="/transporte">Ver Transporte</div>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="../../../assets/img/tour.jpg" class="bd-placeholder-img card-img-top" alt="playa" width="100%" height="225" loading="lazy"> 
                <div class="card-body">
                  <h1 class="fw-light"><b>Tour</b></h1>
                  <p class="card-text">Visita por los lugares más conocidos de la zona.</p>
                  <br>
                  <div class="d-flex justify-content-between align-items-center" button class="w-15 btn btn-primary center" type="button" routerLink="/tour">Tour Disponibles</div>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="../../../assets/img/buffet.jpg" class="bd-placeholder-img card-img-top" alt="playa" width="100%" height="225" loading="lazy"> 
                <div class="card-body">
                  <h1 class="fw-light"><b>Buffet</b></h1>
                  <p class="card-text">Buffet disponible las 24 horas del día en comedores.</p>
                  <br>
                  <div class="d-flex justify-content-between align-items-center" button class="w-15 btn btn-primary center" type="button">Descargar Menu</div>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="invisible">...</div>
      <div class="invisible">...</div>
      <div class="invisible">...</div>
    </main>     
</body>