<body style="background-color:#bbecf0;">   
    <main>    
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/img/playa.jpg" class="rounded mx-auto d-block" alt="playa" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Vacacionar en el mejor lugar</h1>
            <p class="font-weight-normal">Prepara tu viaje soñado sin complicarte y en un par de minutos.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="/departamentos">Reserva Ya</button>
            </div>
          </div>
        </div>
      </div> 
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Clientes Felices</h1>
            <p class="font-weight-normal">Las opiniones de nuestros clientes nos hacen crecer cada día más.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
          </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/img/reseña.png" class="rounded mx-auto d-block" alt="playa" width="500" height="500" loading="lazy">
          </div>
        </div>
      </div>
    </main> 
</body>