<head>
  <style>
      h1 {text-align: center;}
      p {text-align: center;}
      div {text-align: center;}
  </style>
</head>
<body style="background-color:#bbecf0;">
    <main>
      <div class="invisible">...</div>
      <div class="album py-5">
        <div class="container">   
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="../../../assets/img/depa1.jpg" routerLink="/fechas" class="bd-placeholder-img card-img-top" alt="playa" width="100%" height="225" loading="lazy"> 
                <div class="card-body">
                  <h4 class="fw-light"><b>Depto centro Valdivia 60 mt2 2 dormitorios 2 baños</b></h4>
                  <p class="card-text">Precio por noche: 80.000.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ant.</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Sig.</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="../../../assets/img/depa2.jpg" routerLink="/depto-dos" class="bd-placeholder-img card-img-top" alt="playa" width="100%" height="225" loading="lazy"> 
                <div class="card-body">
                  <h4 class="fw-light"><b>Depto Algarrobo 50 mt2, 2 dormitorios 1 baño</b></h4>
                  <p class="card-text">Precio por noche: 70.000.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ant.</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Sig.</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="../../../assets/img/depa3.jpg" routerLink="/fechas" class="bd-placeholder-img card-img-top" alt="playa" width="100%" height="225" loading="lazy"> 
                <div class="card-body">
                  <h4 class="fw-light"><b>Depto Reñaca 90 mt2, 3 dormitorios 3 baños</b></h4>
                  <p class="card-text">Precio por noche: 120.000.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ant.</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Sig.</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="invisible">...</div>        
        <div class="container">   
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="../../../assets/img/depa4.jpg" routerLink="/fechas" class="bd-placeholder-img card-img-top" alt="playa" width="100%" height="225" loading="lazy"> 
                  <div class="card-body">
                    <h4 class="fw-light"><b>Depto centro Valdivia 35 mt2, 1 dormitorios 1 baño</b></h4>
                    <p class="card-text">Precio por noche: 70.000.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ant.</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Sig.</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="../../../assets/img/depa5.jpg" routerLink="/fechas" class="bd-placeholder-img card-img-top" alt="playa" width="100%" height="225" loading="lazy"> 
                  <div class="card-body">
                    <h4 class="fw-light"><b>Depto Algarrobo 85 mt2, 3 dormitorios 2 baños</b></h4>
                    <p class="card-text">Precio por noche: 85.000.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ant.</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Sig.</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="../../../assets/img/depa6.jpg" routerLink="/fechas" class="bd-placeholder-img card-img-top" alt="playa" width="100%" height="225" loading="lazy"> 
                  <div class="card-body">
                    <h4 class="fw-light"><b>Depto Reñaca 60 mt2, 2 dormitorios 1 baño</b></h4>
                    <p class="card-text">Precio por noche: 75.000.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ant.</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Sig.</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="invisible">...</div>
    </main>     
</body>