<div class="col-md-12 ms-4" style="text-align: center;   padding-left: 150px; padding-top: 50px; padding-bottom: 50px;">
    <div class="col-10">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" routerLink="/ingresar-cliente">CLIENTES</a>
            <a class="list-group-item list-group-item-action" routerLink="/ingresar-departamento">DEPARTAMENTOS</a>
            <a class="list-group-item list-group-item-action" routerLink="/ingresar-habitacion">HABITACIONES</a>
            <a class="list-group-item list-group-item-action" routerLink="/ingresar-servicio-extra">SERVICIOS EXTRAS</a>
            <a class="list-group-item list-group-item-action" routerLink="/">CHECK IN/OUT</a>
        </div>
    </div>
</div> 