<div class="container-fluid m-0 p-0">
    <div class="py-2 bg-primary"></div>
    <div class="container p-5">
        <div class="row p-5 justify-content-center">
            <div class="col-md-4">
                <div class="mb">
                    <h1>Agregar Departamento</h1>
                    <hr>
                </div>
                <!-- formulario -->
                <form method="POST">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre de departamento</label>
                        <input type="text" name="nombre-departamento" id="nombre-departamento" placeholder="Depto Algarrobo"
                            class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre Cliente</label>
                        <label for="rut" class="form-label"></label>
                        <input type="text" name="rut-cliente" id="rut-cliente" placeholder="Arayeska Herrera"
                            class="form-control" required>
                    </div>
                    <div class="mb-3 d-grid">
                        <button type="submit" class="btn btn-outline-primary btn-block">Guardar</button>
                    </div>
                </form>
                <!-- /////////////// -->
            </div>

            <div class="col-md-6 ms-5">
                <div class="mb">
                    <h1>Lista de departamento</h1>
                    <hr>
                </div>
                <!-- Mantenedor -->
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nombre departamento</th>
                            <th></th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>Pepe</td>
                            <td>Tapia</td>
                            <td>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                                <button type="button" class="btn btn-warning">Editar</button>
                            </td>
                        </tr>
                    </tbody>
                    <!-- En caso de no haber ingresados 
                    <tbody>
                        <td colspan="3" class="text-center py-2">No hay clientes ingresados.</td>
                    </tbody>
                    -->
                </table>
                <!-- /////////////// -->
            </div>
        </div>
    </div>
</div>
