<body>   
    <main>
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 ">          
          <a routerLink="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="../../../assets/img/tr.png"  class="rounded float-left" alt="tr" width="140" height="60" loading="lazy">
          </a> 
          <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink="/departamentos" class="nav-link active" aria-current="page">Departamentos</a></li>
            <li class="nav-item"><a routerLink="/servicios" class="nav-link">Servicios</a></li>
            <li class="nav-item"><a routerLink="/home" class="nav-link">Inicio</a></li>
          </ul>
        </header>
      </div>
    </main>     
</body>